*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto";
  font-weight: 300;
  color: #263a41;
  background-color: white;
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
}

.wrapper {
  max-width: 192rem;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 117rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: relative;
  background-image: url(../IMG/leaf.png);
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: left center;
}
.header__img {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 40%;
}
.header__top {
  position: relative;
  display: flex;
  align-items: baseline;
  padding-top: 2rem;
}
.header__logo {
  max-width: 10rem;
}
.header__content {
  position: relative;
  z-index: 2;
  margin-top: 10rem;
  max-width: 55.5rem;
}
.header__content-slogan {
  display: block;
  font-family: "Rufina";
  font-size: 2rem;
  text-transform: uppercase;
  color: #ff817e;
  margin-bottom: 3rem;
}
.header__content-title {
  font-family: "Rufina";
  font-size: 6rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 3rem;
}
.header__content-desc {
  font-size: 1.6rem;
  line-height: 1.4;
  margin-bottom: 3rem;
}
.header__content-cta {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__content-cta > a:first-child {
  margin-right: 4rem;
}
.header__content-cta > a:first-child i {
  display: inline-block;
  margin-left: 1rem;
}

.btn {
  display: inline-block;
  cursor: pointer;
  border: 0;
  padding: 1.5rem 3rem;
  text-transform: uppercase;
  color: white;
  font-family: "Roboto";
}
.btn--primary {
  background-color: #ff817e;
}
.btn--primary:hover {
  color: #263a41;
}
.btn--video {
  display: flex;
  align-items: center;
  padding: 0;
  color: #263a41;
}
.btn--video i {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  background-color: #ff817e;
  opacity: 0.2;
}
.btn--rounded {
  border-radius: 2rem;
}

.menu {
  margin-left: 14%;
  position: relative;
  z-index: 2;
}
.menu__list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
}
.menu__item {
  margin: 0 2.5rem;
  font-size: 1.6rem;
  font-weight: 500;
}
.menu__link {
  font-family: "Roboto";
  color: black;
  transition: color 0.25s linear;
  text-transform: uppercase;
}
.menu__link:hover {
  color: #ff817e;
}
.menu__collapse {
  display: none;
  font-size: 3rem;
  color: #ff817e;
  cursor: pointer;
}
.menu__collapse:hover {
  color: #263a41;
}
.menu__dropdown {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.menu__dropdown__list {
  transform: translateX(-12%);
  display: none;
  width: 100%;
}
.menu__dropdown__item {
  padding: 5px;
  font-size: 1.6rem;
  font-family: "Roboto";
}
.menu__dropdown__link {
  text-align: center;
}
.menu__dropdown__link:hover {
  color: #ff817e;
  cursor: pointer;
}
.menu__dropdown:hover .menu__dropdown__list {
  display: block;
}

.lineClamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.lineClamp--3 {
  -webkit-line-clamp: 3;
}

.about {
  margin-top: 15rem;
}
.about--inner {
  position: relative;
  padding-top: 14rem;
  padding-bottom: 14rem;
}
.about__img1 {
  position: absolute;
  top: 0;
  left: 0;
}
.about__img2 {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.about__content {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  max-width: 880px;
  text-align: center;
}
.about__content--img {
  margin: 0 auto 2rem;
}
.about__heading {
  font-size: 2.5rem;
  color: #888;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.about__title {
  font-size: 5rem;
  color: #263a41;
  font-family: "Rufina";
  margin-bottom: 2rem;
}
.about__desc {
  font-size: 1.6rem;
  color: #888;
  line-height: 1.3;
  margin-bottom: 2rem;
}
.about__list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
}
.about__item {
  width: calc(25% - 2px);
  position: relative;
  cursor: pointer;
}
.about__item:hover .about__item-content {
  visibility: visible;
  opacity: 0.8;
}
.about__item-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff817e;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.about__item-content img {
  margin-bottom: 2rem;
}
.about__item-content span {
  font-size: 1.6rem;
  color: black;
}

.procedure {
  text-align: center;
  margin-top: 12rem;
}
.procedure__title {
  font-size: 5rem;
  font-family: "Rufina";
}
.procedure__desc {
  color: #888;
  font-size: 1.6rem;
  line-height: 1.4;
  max-width: 66rem;
  margin: 3rem auto 6rem;
}
.procedure__list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 13rem;
}
.procedure__item {
  cursor: pointer;
  width: calc(33.33% - 20px);
  padding: 2rem;
  border-radius: 1rem;
  transition: transform 0.2s linear;
}
.procedure__item:hover {
  transform: translateY(-2%);
  box-shadow: 1rem 3rem 7rem #f0f1f3;
}
.procedure__item h3 {
  margin-top: 4rem;
  font-size: 2.5rem;
  font-family: "Rufina";
}
.procedure__item p {
  margin-top: 3rem;
  font-size: 1.6rem;
  line-height: 1.4;
  margin-bottom: 3rem;
  color: #888;
}

.quote {
  background-color: #fff9f8;
  padding: 12rem 0;
  text-align: center;
}
.quote__inner {
  max-width: 97rem;
}
.quote__inner p:nth-child(2) {
  font-size: 1.6rem;
  line-height: 1.4;
  margin: 4rem 0;
  color: #888;
}
.quote__img {
  margin: 0 auto;
}

.author__img {
  margin: 0 auto;
  border-radius: 50%;
}
.author__name {
  font-family: "Rufina";
  font-size: 3rem;
  margin-top: 2rem;
}
.author__name--primary {
  color: #ff817e;
}

.team {
  margin-top: 10rem;
  text-align: center;
}
.team__title {
  font-size: 5rem;
  font-family: "Rufina";
}
.team__desc {
  margin: 0 auto;
  max-width: 65rem;
  margin-top: 2rem;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #888;
}
.team__list {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
}
.team__item {
  width: calc(33.333% - 20px);
  position: relative;
}
.team__item__infor {
  cursor: pointer;
  padding: 2rem;
  position: absolute;
  left: 3rem;
  right: 3rem;
  bottom: -20%;
  background-color: white;
  transition: transform 0.5s linear;
}
.team__item__infor:hover {
  transform: translateY(-30%);
  box-shadow: 0 4rem 4rem #888;
}
.team__item__name {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Roboto";
}
.team__item__desc {
  margin-top: 2rem;
  font-size: 1.6rem;
  color: #888;
}
.team__social {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.team__social li {
  border-radius: 4rem;
  overflow: hidden;
  width: 4rem;
  height: 4rem;
}
.team__social__link i {
  cursor: pointer;
  font-size: 4rem;
}
.team__social__link i:hover {
  background-color: #ff817e;
}

.contact {
  display: flex;
  margin-top: 20rem;
}
.contact__secondary {
  width: 40%;
  background-color: #888;
}
.contact__primary {
  width: 60%;
  background-color: #fff9f8;
  padding: 10rem 5rem;
}
.contact__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact__input {
  margin-bottom: 2em;
  outline: none;
  background-color: #fff9f8;
  width: calc(50% - 15px);
  padding: 1.5rem 0;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #888;
  border-color: #888;
  border-width: 0 0 2px 0;
}
.contact__input option {
  padding-left: 0;
  font-weight: normal;
}
.contact__input:nth-last-child(2) {
  width: 100%;
  margin-top: 2rem;
}

.footer {
  text-align: center;
  background-color: #fff9f8;
  margin-top: 12rem;
  padding: 8rem;
}
.footer__logo img {
  margin: 0 auto;
}
.footer nav {
  margin-top: 6rem;
  margin-left: 0;
}
.footer nav ul {
  justify-content: center;
}
.footer__social {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
.footer__social li {
  margin: 3rem;
  font-size: 3rem;
}
.footer__social li:hover {
  cursor: pointer;
  background-color: #ff817e;
  border-radius: 3rem;
}

@media screen and (max-width: 1023px) {
  .about__item {
    width: calc(50% - 1rem);
    margin-bottom: 2rem;
  }

  .team__social {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .team__social li {
    border-radius: 3rem;
    overflow: hidden;
    width: 3rem;
    height: 3rem;
  }
  .team__social__link i {
    cursor: pointer;
    font-size: 3rem;
  }
}
@media screen and (max-width: 767px) {
  .header__img {
    display: none;
  }
  .header__top {
    justify-content: space-between;
  }
  .header__content {
    margin-top: 6rem;
  }
  .header__content-title {
    font-size: 4rem;
  }

  .btn--readme {
    width: 50%;
  }

  .menu {
    display: none;
  }

  .menu__collapse {
    display: block;
  }

  .about__item {
    width: 100%;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .header__content {
    margin-top: 7rem;
  }
  .header__content-cta {
    align-items: baseline;
  }
  .header__content-cta > a:first-child {
    margin-right: 1rem;
  }

  .btn {
    padding: 1.5rem 1.5rem;
  }

  .about {
    margin-top: 8rem;
  }
  .about--inner {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .procedure__list {
    flex-wrap: wrap;
  }
  .procedure__item {
    width: 100%;
  }

  .team__list {
    flex-wrap: wrap;
  }
  .team__item {
    width: 100%;
    margin-bottom: 10rem;
  }

  .contact {
    margin-top: 10rem;
  }
  .contact__secondary {
    display: none;
  }
  .contact__primary {
    width: 100%;
  }
  .contact__input {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .header__content {
    margin-top: 5rem;
  }
  .header__content-cta {
    align-items: baseline;
  }
  .header__content-cta > a:first-child {
    margin-right: 1rem;
  }

  .btn {
    padding: 1rem 1rem;
  }

  .about__heading {
    font-size: 2rem;
  }
  .about__title {
    font-size: 4rem;
  }
}

/*# sourceMappingURL=style.css.map */
