doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    title Sun* inc
    link(rel="stylesheet" href="../CSS/reset.css")
    link(rel="stylesheet" href="../CSS/style.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap")
    link(href='https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.14.0/css/all.css' integrity='sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc' crossorigin='anonymous')
body
    div(class="wrapper")
        header(class="header")
            div(class="container")
                div(class="header__top")
                    a(href="#" class="header__logo")
                        img(src="../IMG/logo.png" alt="logo")
                    nav(class="menu")
                        ul(class="menu__list")
                            li(class="menu__item")
                                a(href="#" class="menu__link") Home
                            li(class="menu__item")
                                a(href="#" class="menu__link") About
                            li(class="menu__item")
                                a(href="#" class="menu__link") Features
                            li(class="menu__item")
                                a(href="#" class="menu__link")  Images
                            li(class="menu__item")
                                a(href="#" class="menu__link")  Contact
                    i(class="fas fa-bars menu__collapse")
                div(class="header__content")
                    span( class="header__content-slogan") Spa & beauty Center
                    h1(class="header__content-title") Beauty and success starts here.
                    p(class="header__content-desc") Together creeping heaven upon third dominion be upon won't darkness rule behold it created good saw after she'd Our set living.
                    div(class="header__content-cta")
                        a(href="#" class="btn btn--primary btn--icon") Reverse now 
                            i(class="fas fa-arrow-right")
                        a(href="#" class=" btn btn--video")
                            i(class="fas fa-play")
                            |    Watch our story


                img(class="header__img" src="../IMG/spa.png" alt="spa")
        section(class="about")
            div(class="container about--inner")
                img( class="about__img1" src="../IMG/china-rose.png" alt="cn")
                img(class="about__img2" src="../IMG/jasmine.png" alt="ja")
                div(class="about__content")
                    img(src="../IMG/butterfly.png" alt="fly" class="about__content--img")
                    h3(class="about__heading") About our spa center
                    h2(class="about__title") Come and you will be Inspired
                    p(class="about__desc lineClamp lineClamp--3") 
                        |It’s the end of summer the sweltering heat makes human sweat in
                        |the night and makes the plants and trees wilt even in the
                        |moonlit nights. The eastern wind breeze brings an eerie feeling,
                        |that the monsoon clouds are soon coming, there is a strange
                        |silence in the ears, the sky gets darker and darker.
                    a(class="btn btn--rounded btn--primary btn--readme") READ ME
            ul(class="container about__list")
                li(class="about__item")
                    img(src="../IMG/11.jpg" alt="as")
                    div(class="about__item-content")
                        img(src="../IMG/1.png" alt="asd")
                        span Body treatments
                li(class="about__item")
                    img(src="../IMG/20.jpg" alt="as")
                    div(class="about__item-content")
                        img(src="../IMG/1.png" alt="asd")
                        span Body treatments
                li(class="about__item")
                    img(src="../IMG/30.jpg" alt="as")
                    div(class="about__item-content")
                        img(src="../IMG/1.png" alt="asd")
                        span Body treatments
                li(class="about__item")
                    img(src="../IMG/4.jpg" alt="as")
                    div(class="about__item-content")
                        img(src="../IMG/1.png" alt="asd")
                        span Body treatments
        section(class="procedure")
            div(class="container")
                h2(class="procedure__title") Popular procedures
                p(class="procedure__desc lineClamp lineClamp--3") Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptate fugit, quaerat totam consectetur, laudantium fugiat ratione quos voluptas laborum, et rerum sed tempora ex provident consequuntur necessitatibus saepe illum.
                ul(class="procedure__list")
                    li(class="procedure__item")
                        img(src="../IMG/1.jpg" alt="")
                        h3 Message Therapy
                        p(class="lineClamp lineClamp--3") Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, fugiat corrupti veritatis blanditiis mole.
                        a(class="btn btn--primary btn--rounded") READ MORE
                    li(class="procedure__item")
                        img(src="../IMG/1.jpg" alt="")
                        h3 Message Therapy
                        p(class="lineClamp lineClamp--3") Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, fugiat corrupti veritatis blanditiis mole.

                        a(class="btn btn--primary btn--rounded") READ MORE
                    li(class="procedure__item")
                        img(src="../IMG/1.jpg" alt="")
                        h3 Message Therapy
                        p(class="lineClamp lineClamp--3") Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, fugiat corrupti veritatis blanditiis mole.
                        a(class="btn btn--primary btn--rounded") READ MORE
        section(class="quote")
            div(class="container quote__inner")
                img(class="quote__img" src="../IMG/quote.png", alt="")
                p(class="lineClamp lineClamp--3") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam in aliquid sed magnam ipsam consequuntur, facilis numquam vero, quo quasi placeat nulla, cum repellat at similique? Iusto vero deleniti dicta!
                img(src="../IMG/client-1.png", alt="" class="author__img")
                p(class="author__name") Dang Xuan Thang 
                    span(class="author__name--primary") CEO